
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
/* like global variables for use over and over */

/************************************/
 /************** Root ************/
/************************************/
:root {
  --primary-white: white;
  --primary-red: rgb(196, 53, 53);
  --primary-hover: black;
}


/************************************/
 /************** Body ************/
/************************************/
body {
  font-family: 'Roboto Slab', serif;
}

/************************************/
 /************** NavBar ************/
/************************************/

.navbar-dark {
  background-color: black !important;
}
.navbar-toggler {
  border-color: white !important;
}
/*
.navbar-toggler-icon::before {
  font-family: FontAwesome;
  color: wheat;
  content: "\f0c9"; /* fa-bars, fa-navicon 
} */

.my-name {
  font-weight: 500;
  color: white;
  font-size: 2rem;
  margin-top: 0.5rem;
  margin-left: 1rem;
  text-transform: uppercase;
  font-family: 'shadows into light';
  letter-spacing: 0.1rem;
}



nav a.nav-link {
  font-weight: 400;
  letter-spacing: 0.0375rem;
  margin-top: 0.5rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
  font-family: 'Roboto Slab', serif;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-white);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-red);
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-red);
}

@media(max-width: 767px) {
  .my-name {
    font-weight: 400;
    margin-left: 22%;
  }
}


/************************************/
 /************** Header ************/
/************************************/
.header-outer-wrapper {
  position: relative;
  z-index: 10;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
  margin-bottom: -10vw;

}

.header-wrapper {
  background: url(assets/download.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 95vh;
  width: 100%;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  z-index: 1;
}

.main-info h1{
  color: var(--primary-red);
  text-transform: uppercase;
}

.githubIconHeader {
  position: absolute;
  left: 0.5rem;
  top: 17rem;
  font-size: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 0 auto;
  color: var(--primary-white);
}

.linkedinIconHeader {
  position: absolute;
  left: 0.5rem;
  top: 21rem;
  font-size: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 0 auto;
  color: var(--primary-white);
}

.githubIconHeader:hover {
  color: black;
  transition: .2s ease-in-out;
}

.linkedinIconHeader:hover {
  color: #0077b5;
  transition: .2s ease-in-out;
}



/************************************/
 /************** Typed Text ************/
/************************************/

.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
}



/* for mobile users, will change font for smaller screens */
@media(max-width: 767px) {
  .main-info h1 {
    font-size: 1.6rem !important;
  }
  .typed-text {
    font-size: 1.3rem !important;
  }

  .githubIconHeader {
    display: none;
  }
  
  .linkedinIconHeader {
    display: none;
  }
}

/************************************/
 /************** main btn ************/
/************************************/
.btn-main-offer {
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin-top: 2rem;
}

.btn-main-offer:hover {
  text-decoration: none;
  background-color: var(--primary-red);
  color: var(--primary-white);
  transition: .2s ease-in-out;
}

/************************************/
 /************** particles ************/
/************************************/



/************************************/
 /************** Projects ************/
/************************************/
.project-outer-wrapper {
  position: relative;
  z-index: 9;
  clip-path: polygon(100% 0, 100% 100% ,0 calc(100% - 10vw), 0 0);
  margin-bottom: -10vw;
}

.project-wrapper {
  position: relative;
  background-color: white;
  background-size: cover;
  background-position: center;
  height: 200vh;
}


/************************************/
 /************** About ************/
/************************************/

.about-wrapper {
  display: flex;
  position: relative;
  background-color: white;
  justify-content: center;
  align-items: center;
  height: 65vh;
}

.about-inner-warpper {
  display: flex;
  flex-direction: row;
  width: 80vw;
  height: 40vh;
  margin-top: 5rem;
}

.my-photo {
  display: flex;
  flex: 25%;
  margin-right: 3rem;
  clip-path: polygon(0 0, 100% 2%, 90% 95%, 5% 100%, 0 10%);
  z-index: 3;
}

.text-wrapper {
  flex: 75%;
  z-index: 20;
}

.about-title {
  display: flex;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.4rem;
  padding: 2rem 0.5rem 0.5rem 0.5rem;
  border-bottom: 0.0625rem solid black;

}

.about-text {
  display: flex;
  margin: 0 auto;
  padding: 0.75rem 0.75rem 0.75rem 0.75rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Slab', serif;
  font-size: 1.25rem;

}

/* Square portion for arrows in about section */
.square {
  position: relative;
}

.square::after,
.square::before {
  position: absolute;
  content: '';
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 8rem;
  background: white;
  bottom: -1em;

}

.square::before {
  right: 50%;
  transform: skew(0, 20deg);

}

.square::after {
  left: 50%;
  transform: skew(0,-20deg);

}
/* 768 was default, but chaned for ipad users */
@media(max-width: 767px) {

  .about-wrapper {
    height: 100vh;
  }

  .about-inner-warpper {
    height: 80vh;
    width: 90vw;
    flex-direction: column;
    margin-top: 0rem;
  }

  .text-wrapper {
    flex: 50%;
  }

  .my-photo {
    flex: 50%;
    margin-right: 0rem;
    max-width: 25rem;
    max-height: 25rem;
  }

  .about-title {
    flex: 50%;
    font-size: 2rem;
    padding: 0 0 0 0;
  }

  .about-text {
    flex: 50%;
    font-size: 1.2rem;
    padding: 0 0 0 0;
  }
}

/************************************/
 /************** Contact ************/
/************************************/

.contact-wrapper {
  display: grid;
  background-color: rgb(0, 0, 0);
  height: 65vh;
  padding-top: 4rem;
  margin: 0 auto;
}

.contact-me-title {
  display: flex;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.4rem;
  color: white;
  padding: 0rem 0.5rem 0.5rem 0.5rem;
  border-bottom: 0.0625rem solid white;
}

.contact-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 0 auto;
  height: 100%;
  width: 100%;
  /* grid-gap: 1rem 1rem; */
  
}


.name {
  grid-column: 1 / 1 ; 
  grid-row: 1 / 1; 
  width: 95%;
  height: 40%;
  margin: 1rem 1rem 1rem 1rem;
  padding: 1rem 1rem 1rem 1rem;
}

.email {
  grid-column: 1 / 1 ; 
  grid-row: 2 / 2; 
  width: 95%;
  height: 40%;
  margin: 1rem 1rem 1rem 1rem;
  padding: 1rem 1rem 1rem 1rem;
}

.subject {
  width: 95%;
  height: 40%;
  grid-column: 1 / 1 ; 
  grid-row: 3 / 3; 
  grid-column: auto;
  margin: 1rem 1rem 1rem 1rem;
  padding: 1rem 1rem 1rem 1rem;
}

.message {
  height: 90%;
  width: 90%;
  grid-column: 2 / 2 ; 
  grid-row: 1 / 4; 
  margin: 1rem 1rem 1rem 1rem;
  padding: 1rem 1rem 1rem 1rem;
}

.button-container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.submit-message {
  width: 8rem;
  height: 2rem;
  margin-left: 15%;
}

.submit-message:hover {
  background-color: var(--primary-hover);
  color: var(--primary-white);
  transition: .2s ease-in-out;
}

.external-links-wrapper {
  display: flex;
  margin: 0 auto;
  /* width: 100%;
  background-color: rgb(92, 92, 92); */
  
}

.githubIcon {
  font-size: 4.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: var(--primary-white);
}

.linkedinIcon {
  font-size: 4.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: var(--primary-white);
}

.githubIcon:hover {
  color: black;
  transition: .2s ease-in-out;
}

.linkedinIcon:hover {
  color: #0077b5;
  transition: .2s ease-in-out;
}

@media(max-width: 767px) {

  .contact-wrapper {
    height: 100vh;
  }

  .contact-info {
    height:45vh;
    grid-template-columns: repeat(1, 1fr);
  }
  
  .contact-me-title {
    font-size: 2rem;
    padding: 0 0 0 0;
  }

  .name {
    width: 92.5%;
    margin: 2rem 0.5rem 0.5rem 1rem;
  }

  .email {
    width: 92.5%;
    margin: 0.5rem 0.5rem 0.5rem 1rem;
  }

  .subject {
    width: 92.5%;
    margin: 0.5rem 0.5rem 0.5rem 1rem;
  }

  .message {
    grid-column: 1 / 1 ; 
    grid-row: 4/4;
    height: 10rem;
    width: 92.5%;
    margin: 0.5rem 0rem 0rem 1rem;
  }

  .button-container {
    display: flex;
    position: relative;
    width: 100%;
    margin-top: 0rem;
  }

  .submit-message {
    width: 8rem;
    height: 4rem;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }

  .githubIcon {
    font-size: 3.8rem;
  }
  
  .linkedinIcon {
    font-size: 3.8rem;
  }

}